<p style="color: green"><%= notice %></p>

<%= render @garden %>

<div class="m-4">
  <div class="row">
    <div class="col-8">
      <div class="cards">
        <% @garden.plants.each do |plant| %>
          <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= plant.image_url %>')">
            <%= plant.name %>
            <%= link_to "+", plant_path(plant), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "card-remove-link" %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="col-4">
      <h3>Add a plant</h3>
      <%= simple_form_for [@garden, @plant] do |f| %>
        <%= f.input :name %>
        <%= f.input :image_url %>
        <%= f.submit 'Add', class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>
</div>


<div>
  <%= link_to "Edit this garden", edit_garden_path(@garden) %> |
  <%= link_to "Back to gardens", gardens_path %>

  <%= button_to "Destroy this garden", @garden, method: :delete %>
</div>
